.App {
  font-family: sans-serif;
  background: #000000;
  color: #ffffff;
  height: 110vh;
  box-sizing: border-box;
}

.react-tabs {
  display: flex;
  margin-right: 500px;
  width: 1900px;
  height: 900px;
  border: 1px solid #3c3e43;
  color: white;
  background: #1c1d1f;
}

.react-tabs__tab-list {
  display: inline-flex;
  flex-direction: column;
  width: 200px;
  margin: 0;
  padding: 0;
  color: white;
  background: #3c3e43;
}

.react-tabs__tab {
  height: 70px;
  list-style: none;
  padding: 12px 6px;
  cursor: pointer;
  color: #bbb;
}

.react-tabs__tab--selected {
  background: #1c1d1f;
  border-color: #1c1d1f;
  border-left: 2px solid #6eb800;
  color: white;
}

.react-tabs__tab-panel {
  display: none;
  width: 400px;
}

.react-tabs__tab-panel--selected {
  display: inline-block;
}

.react-tabs__tab {
  padding-left: 24px;
}

.react-tabs__tab--selected {
  padding-left: 21px;
}

.panel-content {
  text-align: center;
}

